#filter
  %strong Filter

#favs
  %strong My favorites

#content
  %table
    %thead
      %tr
        %th Name
        %th Average House Rating
        %th Landlord Name
        %th Average Landlord Rating
        %th Capacity
        %th Price
        %th Description
        %th Update or Delete
    %tbody
      - @houses.each do |h|
        %tr
          %td= h.title 
          %td= h.avg_house_rating
          %td= h.lord_name
          %td= h.avg_lord_rating
          %td= h.capacity
          %td= h.price
          %td= h.description
          %td=link_to "Update or Remove #{h.title}", house_path(h)
          
  = link_to 'Add new house', new_house_path
        